@inject IRepository Repository﻿
@inject NavigationManager NavigationManager
@inject SweetAlertService SweetAlertService
@page "/Users"

<h3>Usuario</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/register">Nuevo Usuario</a>
</div>

<GenericList MyList="users">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre Completo</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>IdUsuario</th>
                    <th>Acciones</th>
                    <th>Administrar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in users!)
                {
                    <tr>
                        <td>
                            @usuario.Cedula
                        </td>
                        <td>
                            @(usuario.Nombre +" "+ usuario.Apellido ) 
                        </td>
                        <td>
                            @usuario.Direccion
                        </td>
                        <td>
                            @usuario.PhoneNumber
                        </td>
                        <td>
                            @usuario.Email
                        </td>
                        <td>
                            @usuario.UserName
                        </td>
                        <td>
                            <a href="/users/edit/@usuario.Cedula" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(usuario))>Borrar</button>
                        </td>
                        <td>
                            <button class="btn btn-info" @onclick=@(() => ActivarUsuario(usuario.Id))>ActivarUsuario</button>
                            <button class="btn btn-secondary" @onclick=@(() => DesactivarUsuario(usuario.Id))>DesabilitarUsuario</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {

    public List<User> users { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        await base.OnInitializedAsync();
        var responseHppt = await Repository.GetAsync<List<User>>("/api/accounts");
        if (responseHppt.Error)
        {
            var message = await responseHppt.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        users = responseHppt.Response!;

    }
    private async Task ActivarUsuario(string userId)
    {
        var responseHppt = await Repository﻿.GetAsync($"api/accounts/ManagerAccount?userId={userId}&Active={true}");
        if (responseHppt.Error)
        {
            var message = await responseHppt.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        await SweetAlertService.FireAsync("Activacion Usuario","El usuario ha sido activado correctamente", SweetAlertIcon.Success);

    }
    private async Task DesactivarUsuario(string userId)
    {
        var responseHppt = await Repository﻿.GetAsync($"api/accounts/ManagerAccount?userId={userId}&Active={false}");
        if (responseHppt.Error)
        {
            var message = await responseHppt.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        await SweetAlertService.FireAsync("Activacion Usuario", "El usuario ha sido desactivado correctamente", SweetAlertIcon.Success);

    }
    private async Task DeleteAsync(User usuario)
    {
        var result = await SweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Esta seguro que quieres borrar el usuario: {usuario.UserName}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"api/Usuario/{usuario.Cedula}");
        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await SweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = SweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }

}

   
