@inject IRepository Repository
@inject NavigationManager NavigationManager
@inject SweetAlertService SweetAlertService
@page "/promotions"
@attribute [Authorize(Roles = "Admin")]
<h3>Promociones</h3>
<div style="display:flex;gap:2rem;">

    <div class="mb-3">
        <a class="btn btn-primary" href="/promotions/create">Nueva Promoción</a>
    </div>
    <div class="mb-3">
        <a class="btn btn-primary" href="/promotions/plot">Consultar Rendimiento</a>
    </div>
</div>

<GenericList MyList="Promociones">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Valor Descuento</th>
                    <th>Estado</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var promocion in Promociones!)
                {
                    <tr>
                        <td>
                            @promocion.nombre
                        </td>
                        <td>

                            @promocion.Descripcion
                        </td>
                        <td>
                            @promocion.VlrDescuento
                        </td>
                        <td>
                            @*TODO:Esto debe ser un select*@
                            @(promocion.Estado ? "Activo" : "Inactivo")
                        </td>
                        <td>
                            <img src="@($"data:image/jpg;base64,{Getphoto(promocion.Foto)}")" width="50" height="50" style="border-radius:50%" />

                        </td>
                        <td>
                            <a href="/promotions/edit/@promocion.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(promocion))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>


@code {
    public List<Promocion> Promociones { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }
    public List<Archivo> Archivos { get; set; }

    private async Task LoadAsync()
    {
        await base.OnInitializedAsync();
        var responseHttp = await Repository.GetAsync<List<Promocion>>("api/Promocion");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Promociones = responseHttp.Response!;
        var responseHttp2 = await Repository.GetAsync<List<Archivo>>("api/Archivos");
        if (responseHttp2.Error)
        {
            var message = await responseHttp2.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Archivos = responseHttp2.Response!;

    }

    private string Getphoto(string imageName)
    {
        Archivo fotoPromocion = Archivos.Find(A => A.FileName == imageName);
        if (fotoPromocion == null)
        {
            return "";
        }
        return Convert.ToBase64String(fotoPromocion.Content);
    }

    private async Task DeleteAsync(Promocion promocion)
    {
        var result = await SweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Esta seguro que quiere borrar la promoción: {promocion.Descripcion}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"api/Promocion/{promocion.Id}");
        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                NavigationManager.NavigateTo("/promotions");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await SweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = SweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}
